* {
    box-sizing: border-box;
}

/* set the background image & width  */
body {
    background: url("/01\ -\ JavaScript\ Drum\ Kit/background.jpg");
    background-size: cover;
    width: 100%;
}    

/* set container display to flex enabling key layout in the middle */
.container {
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
        
/* set the key & button display properties */
.keybox {
    margin: 1rem;
    padding: 1rem 0.5rem;
    background-color: rgba(0,0,0,0.5);
    color: ghostwhite;
    width: 6rem;
    height: 6rem;
    border: 0.2rem solid white;
    border-radius: 0.5rem;
    font-size: 2.2rem;
    text-align: center;
    transition: all .07s ease;
}

/* set the property for text underneath the key */
.drumtype {
    display:block;
    color: orange;
    font-size: 0.8rem;
}

/* class to simulate key pressed effect */
.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 1rem #ffc600;
}